export(lm.mcmc)
export(matryoshka_doll.prior)
export(binomial.prior)
export(binomial_complexity.prior)
export(beta_binomial.prior)
export(beta_binomial_complexity.prior)
export(negative_binomial.prior)
export(negative_binomial_complexity.prior)
export(custom.prior)
importFrom(leaps, regsubsets)
useDynLib(LMMCMC)

